<div class="container">
    <div class="jumbotron">
        <div class="row">
           <div class="col-sm-6">
                <app-progresso></app-progresso>
           </div> 
           <div class="col-sm-6">
                <app-tentativas></app-tentativas>
           </div> 
        </div>
        <div class="row">
            <div class="col">
                <h6>Traduza a frase: </h6>
                <p>How are you?</p>

                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-success btn-lg">Verificar</button>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>