<app-topo></app-topo>

<div *ngIf="jogoEmAndamento else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
    <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="../assets/punpuntriste.png" class="" alt="...">
                    <h3>Infelizmente suas tentativas acabaram.</h3>
                    <button class="btn btn-primary" (click)="reiniciarJogo()">
                        Jogar novamente
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fimDeJogoVitoria>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="../assets/punpunfeliz.png" class="" alt="...">
                <h3>Parabéns. Você ganhou!</h3>
                <button class="btn btn-primary" (click)="reiniciarJogo()">
                    Jogar novamente
                </button>
            </div>
        </div>
    </div>
</ng-template>